@import "tailwindcss";

:root {
  --bg-main: #f8fafc;        /* light background */
  --primary-dark: #264e52;   /* ocean */
  --primary-light: #9bbfb3;  /* seamist */
  --accent-dark: #3b3f5c;    /* navy */
  --text-muted: #7a8b94;     /* bluestone */
  --soft-bg: #91a8b0;        /* bluebell */
}